<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style/lab-c04211be13.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>
      <%= detail %>
    </p>
    <p>
      <%= detail %>
    </p>
  </body>
</html>
